/* Hero Section */
.hero-section {
  margin-top: 65px;
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
  background-color: #f5fff4;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  color: #2e8b57;
  z-index: 0;
}

.hero-left h1 {
  font-size: 52px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-left h1 span {
  background: #d4ffd9;
  padding: 0 5px;
  border-radius: 5px;
}

.hero-left p {
  font-size: 20px;
  color: #444;
}

.hero-right {
  flex: 1;
  height: 100%;
  position: relative;
  overflow: hidden;
  clip-path: ellipse(100% 100% at 100% 50%);
  z-index: 1;
}

.hero-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Products Section */
.products-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
  /* background-color: #d4ffd9; */
}

/* Main product area */
main {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

/* Product card */
.prod-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  width: 240px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.prod-card:hover {
  transform: translateY(-5px);
}

.prod-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 6px;
  background-color: #eee;
}

.prod-card h2 {
  font-size: 18px;
  margin: 10px 0 5px;
  color: black;
}

.prod-card p {
  color: #555;
  font-size: 14px;
}

.prod-card div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.prod-card button {
  background-color: #2e8b57;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.prod-card button:hover {
  background-color: #246b47;
}
