/* Reset basic layout */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #d9e5d4;
  height: 100%;
  width: 100%;
  /* background-image: url('/images/bgimg.jpg'); */
}
.content-wrapper {
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
}